
@{
    ViewBag.Title = "ProductCreate";
}
<h2><span id="spanText"></span> Product</h2>
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="row">
                        <input type="hidden" id="hdnProductId" value="0" />
                        <form id="frmProductCreate" role="form">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label" for="category">Product Category<small class="text-danger"> *</small></label>
                                    <select id="ddlCategory" name="category" class="form-control" required=""></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label" for="attribute">Product Attribute<small class="text-danger"> *</small></label>
                                    <select id="ddlAttribute" name="attribute" class="form-control" required="">
                                        <option value="-1"> -- Please Select -- </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label" for="prodname">Product Name<small class="text-danger"> *</small></label>
                                    <input type="text" name="prodname" id="txtProductName" maxlength="250" class="form-control" required="" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label" for="proddesc">Product Description<small class="text-danger"> *</small></label>
                                    <textarea id="txtProductDescription" name="proddesc" class="form-control" rows="2" required=""></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnSave" class="btn btn-success"> Save changes</button>
                                    <button type="button" id="btnClear" class="btn btn-default">Clear</button>
                                    @Html.ActionLink("Back To List", "Product", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/productjs")
